* {
  box-sizing: border-box;
  font-family: "jaldi";
}

:root {
  --text-color: #222222;
  --divs: #f7f7f7;
  --blue: #bee7ff;
  --pink: #ffd7fd;
  --yellow: #fff3cc;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

header {
  display: none;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.home,
.menu {
  cursor: pointer;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.base {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 150px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 80px;
}
/* SEARCH FUNCTION, WORK IN PROGRESS

form {
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  border: 2px solid var(--text-color);
  border-radius: 50px;
  padding: 5px 15px;
  width: 250px;
  font-size: 18px;
}

::placeholder {
  color: #b5b5b5;
  font-size: 18px;
}

.search-btn {
  background-image: url(assets/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  background-color: #f6f6f6;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

.search-btn:hover {
  background-color: #ffe0ba;
}*/

/* SELECTION BUTTONS */
.button-group {
  margin: 30px;
  display: flex;
  gap: 20px;
}

button {
  padding: 10px;
  width: 170px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-family: jaldi;
  transition: all 200ms linear;
  cursor: pointer;
  font-weight: 600;
}

#all-countries {
  background-color: var(--blue);
}

#random {
  background-color: var(--pink);
}

#games {
  background-color: var(--yellow);
}

#all-countries:hover {
  background-color: #87d3ff;
}

#random:hover {
  background-color: #ffbcfc;
}

#games:hover {
  background-color: #ffedb2;
}

/* PRESENTATION */
#countries-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

.country-div,
.games-div {
  display: flex;
  padding: 20px 40px;
  border-radius: 10px;
  background-color: var(--divs);
}

.country-div {
  flex-direction: column;
}

.games-div {
  justify-content: space-between;
}

.country-div:hover {
  -webkit-box-shadow: inset 0px 0px 0px 2px var(--text-color);
  -moz-box-shadow: inset 0px 0px 0px 2px var(--text-color);
  box-shadow: inset 0px 0px 0px 2px var(--text-color);
}

.country-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.country-banner:hover {
  cursor: pointer;
}

.country-banner h2,
.games-div h2 {
  font-size: 32px;
  color: var(--text-color);
  cursor: pointer;
}

.show-more {
  background-image: url("/assets/open-btn.svg");
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 0;
  background-color: transparent;
  width: 24px;
  height: 24px;
  transition: ease-in-out 0.7s;
}

.close {
  background-image: url("/assets/close-btn.svg");
}

.country-info {
  display: flex;
  justify-content: space-between;
  transition: ease-in-out 1s;
}

.country-info-wrapper {
  display: flex;
  flex-direction: column;
  transition: ease-in-out 1s;
}

img {
  width: 150px;
  border-radius: 5px;
  margin: 20px 0px;
}

.country-name {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.country-name p {
  margin: 0;
}

.country-info p {
  margin: 5px;
}

#country-text,
#flag {
  font-size: 40px;
  font-weight: bold;
}

p {
  font-size: 20px;
}

/* GAMES */

header h2 {
  font-size: 35px;
}

.buttons-div {
  display: flex;
  gap: 20px;
}

.buttons-div button {
  width: 130px;
}

.game-info {
  background-color: #eaeaea;
  height: 50px;
}

.game-play {
  background-color: white;
  border: 2px solid black;
  height: 50px;
}

.game-info:hover {
  background-color: #dbdbdb;
}

.game-play:hover {
  background-color: var(--pink);
}

.flag-game {
  width: 350px;
  border: 1px solid rgb(237, 237, 237);
  margin-bottom: 30px;
}

.question-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.question-wrapper h2 {
  font-size: 35px;
  margin-bottom: 30px;
}

.answers-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 600px;
  gap: 20px;
}

.answer {
  width: 250px;
  padding: 15px;
  background-color: var(--divs);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

.answer:hover {
  background-color: white;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 0px 2px var(--text-color);
  -moz-box-shadow: inset 0px 0px 0px 2px var(--text-color);
  box-shadow: inset 0px 0px 0px 2px var(--text-color);
}

.right-answer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.next {
  height: 50px;
  width: 100px;
  transition: none;
}

.next:hover {
  background-color: var(--yellow);
}

/* MOBILE & TABLET */

@media screen and (max-width: 830px) {
  #countries-wrapper {
    width: 548px;
  }

  .buttons-div {
    flex-direction: column;
  }
}

@media screen and (max-width: 585px) {
  .base {
    margin-top: 50px;
  }

  h1 {
    font-size: 50px;
  }

  .button-group {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 30px 0px;
    width: 70%;
    flex-wrap: wrap;
  }

  button {
    width: 100%;
    margin: 0px;
  }

  #countries-wrapper {
    width: 90%;
  }

  .country-banner {
    width: 100%;
  }

  .country-info {
    flex-direction: column;
  }

  .games-div {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .answers-wrapper {
    width: 100%;
    flex-direction: column;
  }
  .question-wrapper {
    margin-top: 20px;
  }

  .question-wrapper h2 {
    font-size: 30px;
  }

  .answer {
    width: 70%;
  }
}
